<!doctype html>
<html lang="en" class="resume" itemscope itemtype="http://schema.org/Person">
  <head>
    <meta charset="utf-8" />
    <title>Marcos Ellys</title>
    <meta name="description" content="Software Development Engineer, graduate in ADS by FVS with expertise in #Angular working with @nodejs stack, enthusiast Open Source and Free Software.">
    <meta http-equiv="Cache-Control" content="max-age=86400000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" defer href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" />
    <link rel="stylesheet" defer href="/assets/styles/vendor/normalize.min.css" />
    <link rel="stylesheet" defer href="/assets/styles/main.min.css" />
    <meta name="theme-color" content="#000000" />
    <meta name="HandheldFriendly" content="True">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-touch-icon-114-516f4e19976b9e4dbb77ad9b576831fe.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-touch-icon-72-5409b2df229305703caf583d86c845ab.png">
    <link rel="apple-touch-icon" href="/assets/ico/apple-touch-icon-57-aa873e019cf659e0d4e6a0b5bb9f379d.png">
    <link rel="shortcut icon" href="/assets/ico/favicon-b5ecc36e2f9d7bd353ee91851eb81a94.png">
  </head>
  <body>
    <header>
      <div class="badge">
        <h1 itemprop="name"><a href="/">Marcos Ellys</a></h1>
        <div itemprop="jobTitle" data-binding="role"></div>
        <a class="email" href="mailto:marcos.ellys@gmail.com" itemprop="email">marcos.ellys@gmail.com</a>
        <a class="email" href="https://www.linkedin.com/in/marcosellys/" itemprop="linkedin">https://www.linkedin.com/in/marcosellys/</a>
      </div>
      <div class="no-print side-resume">
        <label class="switch"><input type="checkbox" class="is-warning" onclick="changeLang()"> <span data-binding="language"></span></label>
      </div>
      <meta itemprop="isicV4" content="6101" />
      <meta itemprop="naics" content="541511" />
      <link itemprop="image" href="https://avatars0.githubusercontent.com/u/6751242" />
      <link itemprop="sameAs" href="https://marcosellys.com/" />
    </header>
    <main>
      <div class="primary">
        <section>
          <h2 data-binding="me"></h2>
          <div class="description" itemprop="description" data-binding="description"></div>
        </section>
        <section>
          <h2 data-binding="level"></h2>
          <ul>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <span data-binding="roleFour"></span>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name"><a itemprop="url" href="https://www.totvs.com/">Totvs</a></span>
                </span>
              </h3>
              <div data-binding="descriptionBusinessFour"></div>
              <div class="dates"><time itemprop="startDate" datetime="2015-03" data-binding="startDateFour"></time> &mdash; <time itemprop="endDate" data-binding="endDateFour"></time></div>
              <div class="description" itemprop="description">
                <ul>
                  <li data-binding="descriptionBusinessFourRef1"></li>
                  <li data-binding="descriptionBusinessFourRef2"></li>
                </ul>
              </div>
            </li>

            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <span data-binding="roleThree"></span>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name"><a itemprop="url" href="https://grupoportfolio.com.br/">Grupo Portfolio</a></span>
                </span>
              </h3>
              <div data-binding="descriptionBusinessThree"></div>
              <div class="dates"><time itemprop="startDate" datetime="2015-03" data-binding="startDateThree"></time> &mdash; <time itemprop="endDate" data-binding="endDateThree"></time></div>
              <div class="description" itemprop="description">
                <ul>
                  <li data-binding="descriptionBusinessThreeRef1"></li>
                  <li data-binding="descriptionBusinessThreeRef2"></li>
                  <li data-binding="descriptionBusinessThreeRef3"></li>
                </ul>
              </div>
            </li>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name"><a itemprop="url" href="https://www.brisanet.com.br">Brisanet Telecomunicações</a></span>
                </span>
              </h3>
              <div data-binding="descriptionBusinessTwo"></div>
              <div class="rb-container">
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="role" data-binding="descriptionBusinessTwoDescription4"></div>
                    <div class="timestamp">
                      <div class="dates"><time itemprop="startDate" data-binding="descriptionBusinessTwoDescription4Start"></time> &mdash; <time itemprop="endDate" data-binding="descriptionBusinessTwoDescription4End"></time></div>
                    </div>
                    <div class="item-description">
                      <p data-binding="descriptionBusinessTwoRef4_1"></p>
                      <p data-binding="descriptionBusinessTwoRef4_2"></p>
                      <p data-binding="descriptionBusinessTwoRef4_3"></p>
                      <p data-binding="descriptionBusinessTwoRef4_4"></p>
                      <p data-binding="descriptionBusinessTwoRef4_5"></p>
                    </div>
                  </li>
                </ul>
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="role" data-binding="descriptionBusinessTwoDescription3"></div>
                    <div class="timestamp">
                      <div class="dates"><time itemprop="startDate" data-binding="descriptionBusinessTwoDescription3Start"></time> &mdash; <time itemprop="endDate" data-binding="descriptionBusinessTwoDescription3End"></time></div>
                    </div>
                    <div class="item-description">
                      <p data-binding="descriptionBusinessTwoRef3_1"></p>
                      <p data-binding="descriptionBusinessTwoRef3_2"></p>
                      <p data-binding="descriptionBusinessTwoRef3_3"></p>
                      <p data-binding="descriptionBusinessTwoRef3_4"></p>
                      <p data-binding="descriptionBusinessTwoRef3_5"></p>
                    </div>
                  </li>
                </ul>
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="role" data-binding="descriptionBusinessTwoDescription2"></div>
                    <div class="timestamp">
                      <div class="dates"><time itemprop="startDate" data-binding="descriptionBusinessTwoDescription2Start"></time> &mdash; <time itemprop="endDate" data-binding="descriptionBusinessTwoDescription2End"></time></div>
                    </div>
                    <div class="item-description">
                      <p data-binding="descriptionBusinessTwoRef2_1"></p>
                      <p data-binding="descriptionBusinessTwoRef2_2"></p>
                      <p data-binding="descriptionBusinessTwoRef2_3"></p>
                      <p data-binding="descriptionBusinessTwoRef2_4"></p>
                    </div>
                  </li>
                </ul>
                <ul class="rb">
                  <li class="rb-item" ng-repeat="itembx">
                    <div class="role" data-binding="descriptionBusinessTwoDescription1"></div>
                    <div class="timestamp">
                      <div class="dates"><time itemprop="startDate" data-binding="descriptionBusinessTwoDescription1Start"></time> &mdash; <time itemprop="endDate" data-binding="descriptionBusinessTwoDescription1End"></time></div>
                    </div>
                    <div class="item-description">
                      <p data-binding="descriptionBusinessTwoRef1_1"></p>
                      <p data-binding="descriptionBusinessTwoRef1_2"></p>
                      <p data-binding="descriptionBusinessTwoRef1_3"></p>
                      <p data-binding="descriptionBusinessTwoRef1_4"></p>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <span class="roleName" itemprop="roleName" data-binding="roleOne"></span>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name"><a itemprop="url" href="https://github.com/MarcosEllys/suac" data-binding="roleOneOrg"></a></span>
                </span>
              </h3>
              <div class="dates"><time itemprop="startDate" datetime="2015-03" data-binding="startDateOne"></time> &mdash; <time itemprop="endDate" data-binding="endDateOne"></time></div>
              <div class="description" itemprop="description">
                <ul>
                  <li data-binding="descriptionBusinessOneRef1"></li>
                  <li data-binding="descriptionBusinessOneRef2"></li>
                </ul>
              </div>
            </li>
          </ul>
        </section>
        <section>
          <h2 data-binding="talent"></h2>
          <ul>
            <li itemprop="knowsAbout">
              <h3>
                <span class="roleName" itemprop="roleName" data-binding="talent1"></span>
              </h3>
              <div class="description" itemprop="description">
                <ul>
                  <li>HTML (incl. HTML5 semantics).</li>
                  <li>CSS (incl. Flexbox, CSS grid, SCSS, LESS).</li>
                  <li>JavaScript (ES6, jQuery, Backbone, D3, Highcharts, Chart.js, Angular).</li>
                  <li data-binding="talentDescribeOne"></li>
                </ul>
              </div>
            </li>
            <li itemprop="knowsAbout">
              <h3>
                <span class="roleName" itemprop="roleName" data-binding="talent2"></span>
              </h3>
              <div class="description" itemprop="description">
                <ul>
                  <li>JAVA (incl. Spring Boot, Junit).</li>
                  <li>Node.js (incl. Meteor, Express, Adonis, Hapi).</li>
                  <li>PHP (incl. Laravel).</li>
                </ul>
              </div>
            </li>
            <li itemprop="knowsAbout">
              <h3>
                <span class="roleName" itemprop="roleName" data-binding="talent3"></span>
              </h3>
              <div class="description" itemprop="description">
                <ul>
                  <li>Linux (Ubuntu, Debian, CentOS).</li>
                  <li data-binding="talentDescribeTwo"></li>
                  <li data-binding="talentDescribeThree"></li>
                  <li>Containers (Docker).</li>
                </ul>
              </div>
            </li>
            <li itemprop="knowsAbout">
              <h3>
                <span class="roleName" itemprop="roleName" data-binding="talent4"></span>
              </h3>
              <div class="description" itemprop="description">
                <ul>
                  <li data-binding="talentDescribeFive"></li>
                  <li data-binding="talentDescribeSix"></li>
                  <li data-binding="talentDescribeSeven"></li>
                </ul>
              </div>
            </li>
          </ul>
        </section>
        <section>
          <h2 data-binding="formation"></h2>
          <ul>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <span class="roleName" itemprop="roleName" data-binding="roleName"></span>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                  <span itemprop="name"><a itemprop="url" href="https://univs.edu.br/graduacao/analise-e-desenvolvimento-de-sistemas/">Centro Universitário Vale do Salgado</a></span>
                </span>
              </h3>
              <div class="dates" data-binding="graduatedDate"></div>
              <div class="description" itemprop="description">
                <div data-binding="skillsDescritption"></div>
              </div>
            </li>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <a href="/assets/certificates/unit-testing-in-angular.pdf" title="certificate"><span class="roleName" itemprop="roleName" data-binding="courseSix"></span></a>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                  <span itemprop="name"><a itemprop="url" href="https://www.pluralsight.com/courses/unit-testing-angular">Pluralsight</a></span>
                </span>
              </h3>
              <div class="dates" data-binding="courseSixDate"></div>
              <div class="description" itemprop="description">
                <div data-binding="courseSixDescription"></div>
              </div>
            </li>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <a href="/assets/certificates/angular-avancando-com-testes-automatizados.jpeg" title="certificate"><span class="roleName" itemprop="roleName" data-binding="courseFive"></span></a>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                  <span itemprop="name"><a itemprop="url" href="https://www.alura.com.br/curso-online-angular-testes-automatizados-jasmin-karma/">Alura</a></span>
                </span>
              </h3>
              <div class="dates" data-binding="courseFiveDate"></div>
              <div class="description" itemprop="description">
                <div data-binding="courseFiveDescription"></div>
              </div>
            </li>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <a href="/assets/certificates/angular-testes-automatizados-com-jasmine-karma.jpeg" title="certificate"><span class="roleName" itemprop="roleName" data-binding="courseFour"></span></a>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                  <span itemprop="name"><a itemprop="url" href="https://www.alura.com.br/curso-online-angular-testes-automatizados-jasmin-karma/">Alura</a></span>
                </span>
              </h3>
              <div class="dates" data-binding="courseFourDate"></div>
              <div class="description" itemprop="description">
                <div data-binding="courseFourDescription"></div>
              </div>
            </li>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <a href="/assets/certificates/devops-agile-culture.png" title="certificate"><span class="roleName" itemprop="roleName" data-binding="courseThree"></span></a>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                  <span itemprop="name"><a itemprop="url" href="https://www.fiap.com.br/">Alura</a></span>
                </span>
              </h3>
              <div class="dates" data-binding="courseThreeDate"></div>
              <div class="description" itemprop="description">
                <div data-binding="courseThreeDescription"></div>
              </div>
            </li>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <a href="/assets/certificates/scrum-fundamentals-certified.jpg" title="certificate"><span class="roleName" itemprop="roleName" data-binding="courseTwo"></span></a>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                  <span itemprop="name"><a itemprop="url" href="https://www.scrumstudy.com/">Scrumstudy</a></span>
                </span>
              </h3>
              <div class="dates" data-binding="courseTwoDate"></div>
              <div class="description" itemprop="description">
                <div data-binding="courseTwoDescription"></div>
              </div>
            </li>
            <li itemprop="memberOf" itemscope itemtype="http://schema.org/OrganizationRole">
              <h3>
                <a href="/assets/certificates/gestao-equipes-remotas.jpeg" title="certificate"><span class="roleName" itemprop="roleName" data-binding="courseOne"></span></a>
                <span itemprop="memberOf" itemscope itemtype="http://schema.org/EducationalOrganization">
                  <span itemprop="name"><a itemprop="url" href="https://www.mackenzie.br/">Universidade Presbiteriana Mackenzie</a></span>
                </span>
              </h3>
              <div class="dates" data-binding="courseOneDate"></div>
              <div class="description" itemprop="description">
                <div data-binding="courseOneDescription"></div>
              </div>
            </li>
          </ul>
        </section>
        <section>
          <h2 data-binding="projects"></h2>
          <div class="description" itemprop="description" data-binding="descriptionOpenSource"></div>
          <ul>
            <li>
              <h3>
                <span class="roleName" itemprop="roleName" data-binding="roleOne"></span>
                <span>
                  <span itemprop="name"><a itemprop="url" href="https://github.com/MarcosEllys/awesome-newman-html-template">Awesome Newman HTML Report template</a></span>
                </span>
              </h3>
              <div class="description" itemprop="description">
                <div data-binding="descriptionOpenSourceOne"></div>
                <ul>
                  <li data-binding="descriptionOpenSourceOneRef1"></li>
                  <li data-binding="descriptionOpenSourceOneRef2"></li>
                  <li data-binding="descriptionOpenSourceOneRef3"></li>
                </ul>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </main>

    <script src="/assets/js/app.js"></script>
  </body>
</html>
